@model IQueryable<blog>

@{
    ViewData["Title"] = "Index";
}
<div class="card">
    <!--begin::Body-->
    <div class="card-header mt-12">
        <h3 class="text-dark mb-7" style="float:left">Latest Articles, News & Updates</h3>
        <div class="card-toolbar">
            <a class="btn btn-primary" asp-action="Create">
                <i class="ki-duotone ki-plus fs-2"></i> Add New Blog
            </a>
        </div>
    </div>
            <div class="card-body p-lg-10">
                <div class="mb-15"> 
                    <!--begin::Posts-->
                    <div class="row g-10">
                        @foreach (var item in Model)
                        {
                            <!--begin::Col-->
                            <div class="col-md-4">
                                <!--begin::Feature post-->
                                <div class="card-xl-stretch me-md-6">
                                    <!--begin::Overlay-->
                                    <a class="d-block overlay" data-fslightbox="lightbox-hot-sales"
                                       href="~/admin/assets/media/stock/600x400/img-78.jpg">
                                        <!--begin::Image-->
                                        <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px"
                                             style="background-image: url('@Url.Content(item.PhotoUrl)')">
                                        </div>
                                        <!--end::Image-->
                                        <!--begin::Action-->
                                        <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                                            <i class="ki-duotone ki-eye fs-3x text-white">
                                                <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                                            </i>
                                        </div>
                                        <!--end::Action-->
                                    </a>
                                    <!--end::Overlay-->
                                    <!--begin::Body-->
                                    <div class="mt-5">
                                        <!--begin::Title-->
                                        <a asp-action="ViewBlog" asp-route-id="@item.ID"
                                           class="fs-4 text-dark fw-bold text-hover-primary text-dark lh-base">
                                            @item.TitleEn
                                        </a>
                                        <!--end::Title-->
                                        <!--begin::Text-->
                                        <div class="fw-semibold fs-5 text-gray-600 my-3">
                                            @item.ContentEn
                                        </div>
                                        <!--end::Text-->
                                        <!--begin::Content-->
                                        <div class="fs-6 fw-bold">
                                            <!--begin::Author-->
                                            <a href="../user-profile/overview.html"
                                               class="text-gray-700 text-hover-primary">
                                                Jane
                                                Miller
                                            </a>
                                            <!--end::Author-->
                                            <!--begin::Date-->
                                            <span class="text-gray-500">@item.CreatedDate</span>
                                            <!--end::Date-->
                                        </div>
                                        <!--end::Content-->
                                    </div>
                                    <!--end::Body-->
                                </div>
                                <!--end::Feature post-->
                            </div>
                            <!--end::Col-->

                        }

                    </div>
                    <!--end::Posts-->
                </div>
            </div>
        </div>
        <!--end::Latest posts-->





        @section Scripts{
            <script>
                $(function () {
                    $("#example1").DataTable({
                        "responsive": true, "lengthChange": false, "autoWidth": false, "searching": false,
                        buttons: [{
                            extend: 'excel',
                            text: ' Export',
                            title: 'All Categories',
                            className: 'btn btn-sm mr-1',
                            exportOptions: {
                                columns: 'th:not(:last-child)'
                            }
                        }, {
                            extend: 'print',
                            text: 'print',
                            title: 'All Categories',
                            className: 'btn btn-sm mr-1',
                            exportOptions: {
                                columns: 'th:not(:last-child)'
                            }
                        }],
                    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
                });
                $('#btnSearch').keyup(function () {
                    search_table($(this).val());
                });
                function search_table(value) {
                    $("#tblProduct tr").each(function () {
                        var found = 'false';
                        $(this).each(function () {
                            if ($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0) {
                                found = 'true';
                            }
                        });
                        if (found == 'true') {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    });
                };
            </script>
        }





