
@{
    ViewData["Title"] = "AboutUs";
    ViewData["ActiveLi"] = "AboutUsli";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<link rel="icon" href="~/client/assets/images/diverse logo cut circle.png">
<link rel="icon" href="../client/assets/images/diverse logo cut circle.png">
<div class="header-title" style="background-image:url('../../client/assets/images/map2.jpg');">
    <div class="container">
        <div class="title-base">
            <hr class="anima" />
            <h1>@T["About Diverse®"]</h1>
            <p class="title-text">@T["“We are committed to delivering cutting - edge ICT solutions that drive business success.With a customer - centric approach, we strive to exceed expectations and empower our clients to thrive in the digital era.”"]</p>
        </div>
    </div>
</div>
<div class="section-empty">
    <div class="container content" id="pt-60">
        <div class="row vertical-row">
            <div class=" col-sm-12">
                <h1 class="text-xl text-color bold">@T["Our Mission"]</h1>
                <p class="bold">@T["“Is to become the premium business solutions provider for ICT market in Europe, Middle East, and Africa”"]</p>
                <hr class="margin">

                <h1 class="text-xl text-color bold">@T["Our Vision"]</h1>
                <p class="bold">@T["“To provide our customers with quick, secure, reliable and high-quality ICT solutions, services, and consultancies that accelerate and sustain success for their businesses and increase end-customer satisfaction”"]</p>
                <hr class="margin">

                <h1 class="text-xl text-color bold">@T["Our Values"]</h1>
                <p class="bold">@T["“Earn customer loyalty , Pursue best practices , Improve service levels, Be reliable & responsive, Enable customers to better manage costs, Minimize risks associated with outsourcing, Adapt to varying business demands”"]</p>
                <hr class="margin">

                <h1 class="text-xl text-color bold">@T["Our Stellar Team"]</h1>
                <p class="bold">@T["“Earn customer loyalty , Pursue best practices , Improve service levels, Be reliable & responsive, Enable customers to better manage costs, Minimize risks associated with outsourcing, Adapt to varying business demands”"]</p>
            </div>
        </div>
    </div>
</div>
<div class="section-empty section-item text-center">
    <div class="container content" id="pt-10">
        <div class="advs-box advs-box-side-img advs-box-blog boxed white project" data-anima="scale-rotate" data-trigger="hover">
            <div class="row projectC">
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <a class="img-box img-scale-up">
                        <img class="anima" src="../../client/assets/images/profile.jpg" alt="profile pic" />
                    </a>
                </div>
                <div class="col-md-8 text-primary">
                    <h2><a>@T["Ayman Saad"]</a></h2>
                    <!-- <h2><a>ايمن سعد</a></h2> -->
                    <p>@T["CEO - Chief Executive Officer"]</p>
                    <!-- <p>الرئيس التنفيذي</p> -->
                    <hr>
                    <p id="primary-text">
                        @T["Before commencement of Diverse, Ayman was the CEO of multiple multi-national organization in Middle East. He managed to bring value to Telecommunications Industry in Egypt and Middle East.Ayman has more than 25 years ofexperience in ICT business with major international suppliers combined with great leadership to all team members and overall organizations."]   </p>
                </div>
            </div>
        </div>
        <div class="advs-box advs-box-side-img advs-box-blog boxed white project" data-anima="scale-rotate" data-trigger="hover">
            <div class="row projectC">
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <a class="img-box img-scale-up">
                        <img class="anima" src="../../client/assets/images/profile.jpg" alt="profile pic" />
                    </a>
                </div>
                <div class="col-md-8 text-primary">
                    <h2><a>@T["Yasser Zaky"]</a></h2>
                    <p>@T["CCO - Chief Commercial Officer"]</p>
                    <hr>
                    <p id="primary-text">
                        @T["Yasser joined Diverse since the first moments; he was a key player in bringing Diverseto be a key system integrator within MEA region.He had 15 years of experience in Sales with multi - national companies in Egypt with regional exposure overAfrica and Middle East markets.He is a results - oriented and a leader of people who canbuild teams and organizations from scratch with clear view on target and company business goals."]
                    </p>
                </div>
            </div>
        </div>
        <div class="advs-box advs-box-side-img advs-box-blog boxed white project" data-anima="scale-rotate" data-trigger="hover">
            <div class="row projectC">
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <a class="img-box img-scale-up">
                        <img class="anima" src="../../client/assets/images/profile.jpg" alt="profile pic" />
                    </a>
                </div>
                <div class="col-md-8 text-primary">
                    <h2><a>@T["Ahmed Ibrahim"]</a></h2>
                    <p>@T["CFO - Chief Financial Officer"]</p>
                    <hr>
                    <p id="primary-text">
                        @T["Before joining Diverse and being one of its key assets, Ahmed was a super star in banking industry in MEA as a head for many reputable commercial banks.Overlooking Diversefinancials and keeping Diverse the best system integrator towards our customers, suppliers, and Diverse."]
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
