
@{
    ViewData["Title"] = "Consultancy";
    ViewData["ActiveLi"] = "servicesli";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}


<div class="section-empty section-item">
    <div class="container content">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h4 class="text-xl">@T["ConsultancyService"]</h4>
                <div class="tag-row">
                    <span><i class="fa fa-bookmark" aria-hidden="true"></i> <a asp-action="Services">@T["Services"]</a></span>
                    <span><i class="fa-solid fa-circle-info fa-l"></i>@T["Consultancy"]</span>
                </div>
                <!-- <hr class="space" /> -->
                <img src="~/client/assets/images/Services/consulting.jpg" alt="">
                <hr class="space m" />
                <div class="collapse-box" data-height="240">
                    <div class="panel">
                        <p>
                            @T["consultncy1"]
                        </p>
                    </div>
                    @*<div class="text-center">
                        <a class="collapse-button" data-button-open-text="Hide all" data-button-close-text="Read all">
                            <b>Read all</b> <span class="caret"></span>
                        </a>
                    </div>*@
                </div>
                <hr class="space visible-sm" />
            </div>
            <div class="col-md-4 col-sm-12 boxed-inverse shadow-1 p-30">
                <h4 class="titleK">@T["Key Features"]</h4>
                <!-- Start feature -->
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title">@T["Expertise and Experience:"]</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">@T["Our consulting team possesses extensive industry expertise and experience, ensuring that we deliver high-quality solutions tailored to our clients' specific needs."]</span>
                    </div>
                </div>
                <!-- End feature -->
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title">@T["Vendor Support Integration:"]</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">@T["We establish direct lines of communication with our vendors' support, enabling seamless collaboration and ensuring project success while minimizing risks."]</span>
                    </div>
                </div>
             
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title">@T["Comprehensive Solution Design:"]</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">@T["We provide end-to-end solution design, encompassing all aspects of the project lifecycle, to deliver comprehensive and integrated solutions that meet our clients' objectives."]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>