@using System.Globalization
@model SendEmail
@{
    ViewData["Title"] = "ContactUs";
    ViewData["ActiveLi"] = "Contactli";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}


<!-- Maps Api, Ajax Search Api and Stylesheet
// Note: If you are already using the Maps API then do not include it again
//       If you are already using the AJAX Search API, then do not include it
//       or its stylesheet again
//
// The Key Embedded in the following script tags is designed to work with
// the following site:
// http://www.abhilashaengineering.com
-->
@*<script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAjfewZCwoKLTq3HmI_i3FYBQIrbY-MYJHVPV3NhA9XUpGkb0yzhRskeXa2xR_0Y55q4MAqbDm5loJxw" type="text/javascript"></script>
    <script src="http://www.google.com/uds/api?file=uds.js&v=1.0&source=uds-msw&key=ABQIAAAAjfewZCwoKLTq3HmI_i3FYBQIrbY-MYJHVPV3NhA9XUpGkb0yzhRskeXa2xR_0Y55q4MAqbDm5loJxw" type="text/javascript"></script>
    <style type="text/css">
        import url("http://www.google.com/uds/css/gsearch.css");
    </style>*@

<!-- Map Search Control and Stylesheet -->
<script type="text/javascript" window._uds_msw_donotrepair=true;>
</script>
@*<script src="http://www.google.com/uds/solutions/mapsearch/gsmapsearch.js?mode=new" type="text/javascript">
    </script>*@
@*<style type="text/css">
        import url("http://www.google.com/uds/solutions/mapsearch/gsmapsearch.css");
    </style>*@

@*<style type="text/css">
        .gsmsc-mapDiv {
            height: 300px;
        }

        .gsmsc-idleMapDiv {
            height: 300px;
        }

        #mapsearch {
            width: 550px;
            margin: 10px;
            padding: 4px;
        }
    </style>*@
@*<script type="text/javascript">
        function LoadMapSearchControl() {

          var options = {
                zoomControl : GSmapSearchControl.ZOOM_CONTROL_ENABLE_ALL,
                title : "Googleplex",
                url : "http://www.google.com/corporate/index.html",
                idleMapZoom : GSmapSearchControl.ACTIVE_MAP_ZOOM,
                activeMapZoom : GSmapSearchControl.ACTIVE_MAP_ZOOM
                }

          new GSmapSearchControl(
                document.getElementById("mapsearch"),
                "1600 Amphitheatre Parkway, Mountain View, CA",
                options
                );

        }
        // arrange for this function to be called during body.onload
        // event processing
        GSearch.setOnLoadCallback(LoadMapSearchControl);
    </script>*@
<!-- ++End Map Search Control Wizard Generated Code++ -->

<div class="section-empty">
    <div class="container content">
        <div class="row-18">

            <iframe class="col-md-12 col-sm-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3452.490405007897!2d31.01305677444224!3d30.08013841688062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14585b5697bc552f%3A0xb3f222a46c59c07a!2sDiverse%20Ltd!5e0!3m2!1sen!2seg!4v1714326613931!5m2!1sen!2seg" width="1100" height="460" style="border-radius:1em;" allowfullscreen="allowfullscreen" loading="lazy"></iframe>


        </div>
        <hr class="space" />
        <div class="row proporzional-row">
            <div class="col-md-6 col-sm-12 pd-20-40">
                <h2 class="text-color fw-b"> @T["Contact us now"]</h2>
                <hr class="space s" />
                <form class="form-box form-ajax" asp-action="ContactUs" asp-controller="Home" method="post">
                    <div class="d-flex">
                        <div class="pd">
                            <p>@T["Your name"]</p>
                            <input id="name" asp-for="senderName" placeholder="@T[""]" type="text" class="form-control form-value in-bg pd-10" required>
                        </div>
                        <div class="pd">
                            <p>@T["Email"]</p>
                            <input id="email" asp-for="senderemail" placeholder="@T[""]" type="email" class="form-control form-value in-bg pd-10" required>
                        </div>
                        <div class="pd">
                            <p>@T["Phone number"]</p>
                            <input id="phone" asp-for="Phone" placeholder="@T[""]" type="text" class="form-control form-value in-bg pd-10" required>
                        </div>
                    </div>
                    <hr class="space xs" />
                    <div class="row">
                        <div class="col-md-12">
                            <p>@T["Your message"]</p>
                            <textarea id="messagge" asp-for="message" placeholder="Enter Your Message" class="form-control form-value in-bg" required></textarea>
                            <hr class="space s" />
                            <button type="submit" class="circle-button btn-sm btn"><i class="fa fa-send-o"></i>@T["Send message"]</button>
                        </div>
                    </div>
                    <!-- <div class="success-box">
                        <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                    </div>
                    <div class="error-box">
                        <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                    </div> -->
                </form>

            </div>
            <div class="col-md-6 boxed-inverse shadow-1 col-sm-12">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="fa-ul">
                            <li>
                                <i class="fa-li fa fa-home"></i>
                                @T["locationaddress"]
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6" id="mt-0">
                        <ul class="fa-ul">
                            <li class="pb-5"><i class="fa-li fa fa-fax"></i> +20 238332974</li>
                            <li class="pt-5"><i class="fa-li fa fa-envelope-o pt-5"></i> info@diverseltd.com</li>
                        </ul>
                    </div>
                </div>
                <hr class="space m ht-4" />
                <div class="btn-group social-group btn-group-icons">
                    <a class="d-flex-align-center" target="_blank" href="https://www.linkedin.com/company/diverseltd-eg/about/" data-placement="top" title="LinkedIn">
                        <i class="fa fa-linkedin text-s circle" aria-hidden="true"></i>
                        <span class="ml-2">See linkedin profile.</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
 
