@*@model SearchVM*@
@{
    Layout = null;
    ViewData["Title"] = "Home";
    ViewData["ActiveLi"] = "Homeli";

}
 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Diverse" content="Diverse Company">
    <title>Diverse</title>
    <meta name="description" content="Explore our diverse range of projects and discover valuable resources, helpful tips, and company updates on our informative blog.">
    <meta name="keywords" content="projects, blog, company updates, resources">
    <meta name="google-site-verification" content="21cNSG7l7S_JwypAFuI-rmzX5vDq2aE0xTAKrgqLUss" />
    <script src="~/client/assets/styles/HTWF/scripts/jquery.bootgrid.min.js"></script>
    <script src="~/client/assets/styles/HTWF/scripts/script.js"></script>
    <script src="~/client/assets/styles/HTWF/scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="~/client/assets/styles/HTWF/scripts/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/client/assets/styles/HTWF/style.css">
    <link rel="stylesheet" href="~/client/assets/styles/HTWF/css/animations.css">
    <link rel="stylesheet" href="../HTWF/scripts/php/contact-form.css">
    <link rel="stylesheet" href="../HTWF/scripts/magnific-popup.css">
    <link rel="icon" href="~/client/assets/images/diverse logo cut circle.png">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="icon" href="../client/assets/images/diverse logo cut circle.png">
    <link rel="stylesheet" href="~/client/assets/styles/HTWF/style.css">
    <link rel="stylesheet" href="~/client/assets/styles/HTWF/scripts/flexslider/flexslider.css">
    <link rel="stylesheet" href="~/client/assets/styles/HTWF/css/content-box.css">
    <link rel="stylesheet" href="~/client/assets/styles/HTWF/css/components.css">
    <link rel="stylesheet" href="~/client/assets/styles/HTWF/css/animations.css">
    <link rel="stylesheet" href="~/client/assets/styles/HTWF/scripts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/client/assets/styles/css/style.css">
    <link rel="stylesheet" href="~/client/assets/styles/css/saxicons.css">
    <link rel="stylesheet" href="~/client/assets/styles/HTWF/scripts/jquery.flipster.min.css">
    <link rel="stylesheet" href="~/client/assets/styles/HTWF/scripts/magnific-popup.css">
    <link href="~/admin/assets/css/custom.css" rel="stylesheet" />

</head>

<body class="post-single vendors-body">
    <div id="preloader"></div>

    <header class="fixed-top scroll-change menu-transparent bg-transparent" data-menu-anima="fade-bottom" style="height: 70px;">
        <div class="navbar navbar-default mega-menu-fullwidth navbar-fixed-top" role="navigation">
            <div class="navbar navbar-main">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                            <img class="logo-default" src="~/client/assets/images/diverse logo cut.png" alt="logo" />
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <div class="nav navbar-nav navbar-right">
                            <ul class="nav navbar-nav">
                                <li class="dropdown" id="Homeli"><a asp-action="Index" asp-controller="Home">@T["Home"]</a></li>
                                <li class="dropdown" id="solutionsli">
                                    <a asp-action="Solutions" asp-controller="Home" class="dropdown-toggle" data-toggle="dropdown" role="button">@T["Solutions"] <span class="caret"></span></a>
                                    <ul class="dropdown-menu multi-level">
                                        <li class="dis-off" id="solutionsli">
                                            <a asp-action="Solutions" asp-controller="Home">@T["Solutions"]</a>
                                            <!-- [French] -->
                                        </li>
                                        <li id="solutionsli"><a asp-action="Networking" asp-controller="Home">@T["Networking"]</a></li>
                                        <li id="solutionsli"><a asp-action="DataCenter" asp-controller="Home">@T["Data Center"]</a></li>
                                        <li id="solutionsli"><a asp-action="CyberSecurity" asp-controller="Home">@T["Cyber Security"]</a></li>

                                    </ul>
                                </li>
                                <li class="dropdown" id="servicesli">
                                    <a asp-action="Services" asp-controller="Home" class="dropdown-toggle" data-toggle="dropdown" role="button">@T["Services"] <span class="caret"></span></a>
                                    <ul class="dropdown-menu multi-level">
                                        <li id="servicesli" class="dis-off"><a asp-action="Services" asp-controller="Home">@T["Services"]</a></li>
                                        <li id="servicesli"><a asp-action="Consultancy" asp-controller="Home">@T["Consultancy"]</a></li>
                                        <li id="servicesli"><a asp-action="Implementation" asp-controller="Home">@T["Implementation"]</a></li>
                                        <li id="servicesli"><a asp-action="support" asp-controller="Home">@T["support"]</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown" id="Projectsli">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">@T["Clients"]<span class="caret"></span></a>
                                    <ul class="dropdown-menu multi-level">
                                        <li><a asp-action="OurClients" asp-controller="Home">@T["Our Clients"]</a></li>
                                        <li><a asp-action="Projects" asp-controller="Home">@T["Our Projects"]</a></li>

                                    </ul>
                                </li>
                                <li class="dropdown" id="Vendorsli"><a asp-action="Vendors" asp-controller="Home">@T["Vendors"]</a></li>

                                <li class="dropdown" id="Blogsli"><a asp-action="Blogs" asp-controller="Home">@T["Blogs"]</a></li>
                                <li class="dropdown" id="Contactli"><a asp-action="ContactUs" asp-controller="Home">@T["Contact Us"]</a></li>
                                <li class="dropdown" id="AboutUsli">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">@T["About Us"] <span class="caret"></span></a>
                                    <ul class="dropdown-menu multi-level">
                                        <li id="AboutUsli"><a asp-action="AboutUs" asp-controller="Home">@T["About Diverse®"]</a></li>
                                        <li id="AboutUsli"><a asp-action="faq" asp-controller="Home">@T["FAQs"]</a></li>

                                    </ul>
                                </li>
                                <li class="dropdown" id="AboutUsli"><a id="myBtn" role="button"><i class="fas fa-search mmm" aria-hidden="true"></i></a></li>

                                @* <li class="dropdown" id="AboutUsli"><a asp-action="AboutUs" asp-controller="Home">@T["About Us"]</a></li>*@
                                @* <li class="dropdown" id="faqli"><a >FAQ</a></li>*@
                                @*<li class="dropdown nav navbar-nav lan-menu">
        @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
        {
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><img src="~/client/assets/images/eg flag.png" alt="lan" />  العربية  <span class="caret"></span></a>

        }
        else
        {
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><img src="~/client/assets/images/en.png" alt="lan" />  EN  <span class="caret"></span></a>

        }*@
                                @*<ul class="dropdown-menu">
            <li>
                <form id="selecteLanguage" asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl">
                    @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                    {
                        <input name="culture" asp-for="@requestCulture.RequestCulture.UICulture.Name" value="@culureItems[0].Value" type="hidden" />
                        <button type="submit"><img src="~/client/assets/images/en.png" alt="lan" width="20px" height="20px" />  EN  </button>

                    }
                    else
                    {
                        <input name="culture" asp-for="@requestCulture.RequestCulture.UICulture.Name" value="@culureItems[1].Value" type="hidden" />
                        <button type="submit"><img src="~/client/assets/images/eg flag.png" alt="lan" width="20px" height="20px" />  العربية  </button>

                    }
                </form>
            </li>

        </ul>*@
                                @*<form id="selecteLanguage" asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl">
            @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
            {
                <input name="culture" asp-for="@requestCulture.RequestCulture.UICulture.Name" value="@culureItems[0].Value" type="hidden" />
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><img src="~/client/assets/images/eg flag.png" alt="lan" />العربية <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><button type="submit"><img src="~/client/assets/images/en.png" alt="lan" width="20px" height="20px" />EN</button></li>
                </ul>
            }
            else
            {
                <input name="culture" asp-for="@requestCulture.RequestCulture.UICulture.Name" value="@culureItems[1].Value" type="hidden" />
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><img src="~/client/assets/images/en.png" alt="lan" />EN <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><button type="submit"><img src="~/client/assets/images/eg flag.png" alt="lan" width="20px" height="20px" />العربية</button></li>
                </ul>
            }
        </form>*@

                                @* </li>*@
                                @*<form id="selecteLanguage" asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl">


                @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                {
                    <input name="culture" asp-for="@requestCulture.RequestCulture.UICulture.Name" value="@culureItems[0].Value" type="hidden" />
                <li class="dropdown nav navbar-nav lan-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><img src="~/client/assets/images//eg flag.png" alt="lan" />العربية <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><button type="submit"><img src="~/client/assets/images/en.png" alt="lan" width="20px" height="20px" />EN</button></li>
                    </ul>
                </li>
            }
            else
            {
        <li class="dropdown nav navbar-nav lan-menu">
            <input name="culture" asp-for="@requestCulture.RequestCulture.UICulture.Name" value="@culureItems[1].Value" type="hidden" />

            <button type="submit"><img src="~/client/assets/images/eg flag.png" alt="lan" width="20px" height="20px" />العربية</button>
        </li>
            }
                </form>*@


                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </header>

    <body class="device-l">
        <div class="section-bg-image text-center bg-bottom bg-g">
            <div class="container content">
                <hr class="space">
                <div class="row">
                    <div class="col-md-9 std">
                        <h1 class="title home-title index-text-color"> @T["hometitle1"]</h1>
                        <hr class="space m xm">
                        <p class="index-pcolor index-text-color-1"> @T["hometitle2"]</p>
                    </div>
                    <div class="img-box adv-img adv-img-down-text lol" style="opacity: 1;">
                        <a class="img-box lightbox i-center ">
                            <img src="~/client/assets/images/1.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-bg-image bg-top">
            <div class="container content">
                <div class="flexslider carousel outer-navs no-navs" data-options="numItems:4,controlNav:false,itemMargin:30">
                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                        <ul class="slides" style="width: 1400%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                            <li style="padding-right: 30px; width: 292.5px; float: left; display: block;">
                                <a class="img-box lightbox" href="~/client/assets/images/Vendors/fortinet.jpg" data-lightbox-anima="fade-top">
                                    <img src="~/client/assets/images/Vendors/fortinet.jpg" alt="" draggable="false">
                                </a>
                            </li>
                            <li style="padding-right: 30px; width: 292.5px; float: left; display: block;">
                                <a class="img-box lightbox" href="~/client/assets/images/Vendors/juniper.jpg" data-lightbox-anima="fade-top">
                                    <img src="~/client/assets/images/Vendors/juniper.jpg" alt="" draggable="false">
                                </a>
                            </li>
                            <li style="padding-right: 30px; width: 292.5px; float: left; display: block;">
                                <a class="img-box lightbox" href="~/client/assets/images/Vendors/microfocuslogo.jpg" data-lightbox-anima="fade-top">
                                    <img src="~/client/assets/images/Vendors/microfocuslogo.jpg" alt="" draggable="false">
                                </a>
                            </li>
                            <li style="padding-right: 30px; width: 292.5px; float: left; display: block;">
                                <a class="img-box lightbox" href="~/client/assets/images/Vendors/netscout.jpg" data-lightbox-anima="fade-top">
                                    <img src="~/client/assets/images/Vendors/netscout.jpg" alt="" draggable="false">
                                </a>
                            </li>
                            <li style="padding-right: 30px; width: 292.5px; float: left; display: block;">
                                <a class="img-box lightbox" href="~/client/assets/images/Vendors/paloalto.jpg" data-lightbox-anima="fade-top">
                                    <img src="~/client/assets/images/Vendors/paloalto.jpg" alt="" draggable="false">
                                </a>
                            </li>
                            <li style="padding-right: 30px; width: 292.5px; float: left; display: block;">
                                <a class="img-box lightbox" href="~/client/assets/images/Vendors/redhat.jpg" data-lightbox-anima="fade-top">
                                    <img src="~/client/assets/images/Vendors/redhat.jpg" alt="" draggable="false">
                                </a>
                            </li>
                        </ul>
                    </div><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#"></a></li><li class="flex-nav-next"><a class="flex-next" href="#"></a></li></ul>
                </div>
                <hr class="space">
                <div class="row vertical-row" data-aos="fade-up" data-aos-duration="1500">
                    <div class="col-md-6">
                        <h4 class="ss">
                            Diverse®<br>
                            International
                        </h4>
                        <p>
                            @T["home3"]
                        </p>
                        <hr class="space s">
                        <ul class="fa-ul text-color mmm">
                            <li><i id="" class="fas fa-map-marker-alt mmm"></i> @T["home4"]</li>
                            <li><i class="fas fa-map-marker-alt mmm"></i> @T["home7"]</li>
                            <li><i class="fas fa-map-marker-alt mmm"></i> @T["home6"]</li>
                            <li><i class="fas fa-map-marker-alt mmm"></i> @T["home5"]</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <img src="~/client/assets/images/Picture2.png" alt="" data-anima="" data-time="1000" aid="0.8337633449769928" class="fade-right" style="position: relative; animation-duration: 1000ms; transition-timing-function: ease; transition-delay: 0ms;">
                    </div>
                </div>
            </div>
            <div class="section-empty" style="background-image:url(../../client/assets/images/bg-12.png)">
                <div class="container content int-fix">

                    <div class="row">
                        <div class="col-md-8">
                            <h2>Our Road Map</h2>
                            <ul class="timeline">
                                <li class="a7a" data-aos="fade-right" data-aos-duration="1500">
                                    <div class="timeline-badge" style="margin-left: 150px;"></div>
                                    <div class="timeline-label lol-fix lol-fix-2"><h4>2016</h4><p> @T["home8"]</p></div>
                                    <div class="timeline-panel lol-fix-1 lol-fix-3">
                                        <div class="timeline-heading ">
                                            <h4 class="timeline-title"> @T["home9"]</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <!-- <p>
                                        Since our inception in 2016, we have experienced remarkable growth year after year, with an organic increase of over 200% each year. This phenomenal success has propelled us from a small enterprise to a medium-sized company that now caters to tier one mobile operators. Our dedication and commitment to excellence have been the driving forces behind our consistent expansion
                                    </p> -->
                                            <p>
                                                @T["home10"]
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted padding-m" data-aos="fade-left" data-aos-duration="1500">
                                    <div class="timeline-badge margin-mm"></div>
                                    <div class="timeline-label lol-fix-5 lol-fix-2"><h4>2018</h4><p> @T["home11"]</p></div>
                                    <div class="timeline-panel lol-fix-1 lol-fix-3">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title"> @T["home12"]</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>
                                                @T["home13"]
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="a7a" data-aos="fade-right" data-aos-duration="1500">
                                    <div class="timeline-badge" style="margin-left: 150px;"></div>
                                    <div class="timeline-label lol-fix lol-fix-2"><h4>2023</h4><p> @T["home14"]</p></div>
                                    <div class="timeline-panel lol-fix-1 lol-fix-3">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title"> @T["home15"] </h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>
                                                @T["home16"]
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted padding-m" data-aos="fade-left" data-aos-duration="1500">
                                    <div class="timeline-badge margin-mm"></div>
                                    <div class="timeline-label lol-fix-5 lol-fix-2"><h4>2023</h4><p> @T["home17"]</p></div>
                                    <div class="timeline-panel lol-fix-1 lol-fix-3">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title"> @T["home18"]</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>
                                                @T["home19"]
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-4">
                            <h2>Diverse®'s Blog</h2>
                            <hr class="space m" />
                            <div class="col-sm-12 boxed-inverse shadow-1">
                                <hr class="space m" />
                                <div class="list-group latest-post-list list-blog">
                                    <p class="list-group-item active"> @T["home20"]</p>
                                    @*@foreach (var item in Model.LatestBlogs.Take(3))
                                {
                                    <div class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <a class="img-box circle" asp-action="ViewBlog" asp-route-id="@item.Id">
                                                    <img src="@Url.Content(@item.PhotoUrl)" alt="">
                                                </a>
                                            </div>
                                            <div class="col-md-8">
                                                <a asp-action="ViewBlog" asp-route-id="@item.Id">
                                                    <h5>@item.TitleEn</h5>
                                                </a>
                                                <div class="tag-row icon-row"><span><i class="fa fa-calendar"></i>@item.CreatedDate.ToString("dd.MM.yyyy")</span></div>
                                            </div>
                                        </div>
                                    </div>
                                }*@



                                </div>

                            </div>
                            <hr class="space m" />
                            <h2> @T["home21"]</h2>
                            <h3 class="text-m sol-txt margin-m"><i class="fas fa-map-marker-alt " style="color: rgb(255, 0, 0) !important;"></i>       @T["home22"]</h3>
                            <a class="img-box lightbox" href="~/client/assets/images/Nuremberg.jpeg" data-lightbox-anima="fade-top">
                                <img src="~/client/assets/images/Nuremberg.jpeg" alt="">
                            </a>
                            <h3 class="text-m sol-txt margin-m"><i class="fas fa-map-marker-alt " style="color: rgb(255, 0, 0) !important;"></i>       @T["home23"]</h3>
                            <a class="img-box lightbox" href="~/client/assets/images/Egypt-bg.jpg" data-lightbox-anima="fade-top">
                                <img src="~/client/assets/images/Egypt-bg.jpg" alt="">
                            </a>
                            <h3 class="text-m sol-txt margin-m"><i class="fas fa-map-marker-alt " style="color: rgb(255, 0, 0) !important;"></i>      @T["home24"] </h3>

                            <a class="img-box lightbox " href="~/client/assets/images/Kenya.jpeg" data-lightbox-anima="fade-top">
                                <img src="~/client/assets/images/Kenya.jpeg" alt="">
                            </a>
                            <h3 class="text-m sol-txt margin-m"><i class="fas fa-map-marker-alt " style="color: rgb(255, 0, 0) !important;"></i>        @T["home25"]</h3>
                            <a class="img-box lightbox" href="~/client/assets/images/Saudi.jpeg" data-lightbox-anima="fade-top">
                                <img src="~/client/assets/images/Saudi.jpeg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="grid-list">
                        <h2 class="finale"> @T["home26"] </h2>
                        <hr class="xmmm">
                        <p class="finale-1">
                            @T["home27"]
                        </p>
                        <br class="xxm">
                        <hr class="space s">
                        <div class="grid-box row card-container">
                            <div class="grid-item col-md-4 index-box padding-fix-11" data-aos="zoom-out-up" data-aos-duration="1500">
                                <div class="icon-box">
                                    <div class="icon-box-cell">
                                        <i class="fa-solid fa-network-wired fa-2xl text-xl"></i>
                                    </div>
                                    <div class="icon-box-cell">
                                        <label class="text-m sol-txt">
                                            @T["home28"]
                                            <br class="xxm">
                                            <hr class="space m xm" />

                                        </label>

                                        <p>
                                            @T["home29"]
                                        </p>
                                        <a class="btn btn-sm btn-fix" asp-action="Networking" asp-controller="Home"> @T["home30"]</a>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4 index-box flex-position padding-fix-11" data-aos="zoom-out-up" data-aos-duration="1500">
                                <div class="icon-box">
                                    <div class="icon-box-cell ">
                                        <i class="fa-solid fa-server text-xl"></i>
                                    </div>
                                    <div class="icon-box-cell">
                                        <label class="text-m sol-txt">
                                            @T["home31"]
                                            <hr class="space m xm">
                                        </label>


                                        <p>
                                            @T["home32"]
                                        </p>
                                        <a class="btn btn-sm btn-fix" asp-action="DataCenter" asp-controller="Home"> @T["home30"]</a>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4 index-box padding-fix-11" data-aos="zoom-out-up" data-aos-duration="1500">
                                <div class="icon-box ">
                                    <div class="icon-box-cell">
                                        <i class="fa-solid fa-shield-halved text-xl"></i>
                                    </div>
                                    <div class="icon-box-cell">
                                        <label class="text-m sol-txt">
                                            @T["home33"]
                                            <hr class="space m xm">
                                        </label>


                                        <p>
                                            @T["home34"]
                                        </p>
                                        <a class="btn btn-sm btn-fix" asp-action="CyberSecurity" asp-controller="Home"> @T["home30"]</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-bg-image bg-top cr-bg" data-aos="fade-down" data-aos-duration="1500">
                    <div class="container content">
                        <div class="row">
                            <div class="col-md-8 col-center text-center cdcr">
                                <div class="bc">
                                    <h4> @T["home35"]</h4>
                                    <!-- <h4>مراحل النشر</h4> -->
                                    <p>
                                        @T["home36"]
                                    </p>
                                    <!-- <p>
                                تضمن المراحل المنهجية ، من التخطيط إلى التنفيذ والتدريب ، النشر السلس والناجح لحلول تكنولوجيا المعلومات والاتصالات ، وتعزيز التكامل وكفاءة المستخدم.
                            </p> -->
                                    <hr class="space">
                                </div>
                                <div class="row" data-anima="" data-timeline="asc">
                                    <div class="col-md-4 boxed-inverse shadow-1 anima fade-bottom p-20 crcd equal-height" aid="0.7979026468847672" style="opacity: 0;">
                                        <div class="icon-box icon-box-top-bottom">
                                            <div class="icon-box-cell mb-4">
                                                <img src="~/client/assets/images/Services/preparation 1 (1).png" alt="">
                                            </div>
                                            <div class="icon-box-cell">
                                                <label class="text-m"> @T["home37"]</label>
                                                <!-- <label class="text-m">التخطيط والتحضير</label> -->
                                                <p class="text-s"> @T["home38"]</p>
                                                <!-- <p class="text-s">تعريف النطاق واستكشاف الحلول ومواءمة أصحاب المصلحة</p> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 boxed-inverse shadow-1 anima fade-bottom p-20 crcd equal-height" aid="0.5027059489967733" style="opacity: 0;">
                                        <div class="icon-box icon-box-top-bottom">
                                            <div class="icon-box-cell mb-4">
                                                <img src="~/client/assets/images/Services/tools 1 (1).png" alt="">
                                            </div>
                                            <div class="icon-box-cell">
                                                <label class="text-m"> @T["home39"]</label>
                                                <!-- <label class="text-m">تصميم و تنفيذ</label> -->
                                                <p class="text-s"> @T["home40"]</p>
                                                <!-- <p class="text-s">هندسة الحل والنشر وتوسيع الوظائف</p> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 boxed-inverse shadow-1 anima fade-bottom p-20 crcd equal-height" aid="0.6209801221459992" style="opacity: 0;">
                                        <div class="icon-box icon-box-top-bottom">
                                            <div class="icon-box-cell mb-4">
                                                <img src="~/client/assets/images/Services/maintenance 1 (1).png" alt="">
                                            </div>
                                            <div class="icon-box-cell">
                                                <label class="text-m"> @T["home41"]</label>
                                                <!-- <label class="text-m">التشغيل والتحسين</label> -->
                                                <p class="text-s"> @T["home42"]</p>
                                                <!-- <p class="text-s">الحفاظ على الحل وحل المشكلات وتحسين الأداء</p> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<script async src="https://cse.google.com/cse.js?cx=63fcb95f8ae8f4fa9">
        </script>*@

            @*@await Html.PartialAsync("_SearchParialView",Model)*@

            <script async src="https://cse.google.com/cse.js?cx=63fcb95f8ae8f4fa9">
            </script>
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="closebtn">&times;</span>
                    <form method="get">
                        <div class="gcse-search" dir="ltr"></div>
                        @*<div class="col-12 col-md-12 input-group ">
                        <input type="text" class="form-control" placeholder="Search for..." style="border: hidden">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button" data-toggle="modal" role="button" style="width: 85%;"><i class="fas fa-search" aria-hidden="true"></i></button>
                        </span>
                    </div>*@
                    </form>
                </div>

            </div>



</body>
    <i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
    <footer class="footer-base">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 footer-center text-left">
                        <img width="120" src="~/client/assets/images/diverse logo cut.png" alt="" />
                    </div>
                    <div class="col-md-6 footer-left text-left">
                        <p>  @T["locationaddress"]  </p> @*@TempData["IP"]*@
                        <div class="tag-row">
                            <span>Email : <a href="mailto:info@diverseltd.com">info@diverseltd.com </a></span>
                            <span>Fax: +20238332974</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row copy-row">
                <div class="col-md-12 copy-text">
                    @T["copyrights"]
                </div>
            </div>
        </div>
        <script async src="~/client/assets/styles/HTWF/scripts/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/e4374ef880.js" crossorigin="anonymous"></script>
        <script src="~/client/assets/styles/HTWF/scripts/jquery.min.js"></script>
        <script src="~/client/assets/styles/HTWF/scripts/script.js"></script>
        <script src="~/client/assets/styles/HTWF/scripts/parallax.min.js"></script>
        <script src="~/client/assets/styles/HTWF/scripts/imagesloaded.min.js"></script>
        <script src="~/client/assets/styles/HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
        <script src="~/client/assets/styles/HTWF/scripts/isotope.min.js"></script>
        <script src="~/client/assets/styles/HTWF/scripts/jquery.flipster.min.js"></script>
        <script src="~/client/assets/styles/HTWF/scripts/jquery.twbsPagination.min.js"></script>
        <script src="~/client/assets/styles/HTWF/scripts/jquery.magnific-popup.min.js"></script>
        <script src="~/client/assets/styles/HTWF/scripts/jquery.tab-accordion.js"></script>
        <script src="~/client/assets/styles/js/script.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
        <script>
            // Get the modal
            var modal = document.getElementById("myModal");

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("closebtn")[0];

            // When the user clicks the button, open the modal
            btn.onclick = function () {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
    </footer>
</body>

</html>